__pycache__
src/wsba_hockey/__pycache__
src/wsba_hockey/tools/__pycache__
dist/
build/
*.egg-info/
.vscode/
make.bat
Makefile
src/wsba_hockey/tools/game_pred.py
docs/build/
docs/source/_static/
docs/source/_templates/
